<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lion exchange - Home</title>
    <meta name="title" Content="Lion exchange - Home" />

    <meta
      name="description"
      content="Welcome to our sports betting platform. Explore a wide array of thrilling sports events and bet on your favorite teams to win big. Our user-friendly interface ensures a seamless experience, with secure transactions."
    />
    <meta
      name="keywords"
      content="bet,betting,sports betting,spobet,odds,oddsrate"
    />
    <link
      type="image/x-icon"
      href="http://localhost/bet/assets/images/logoIcon/favicon.png"
      rel="shortcut icon"
    />
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
    <link
      href="http://localhost/bet/assets/images/logoIcon/logo.png"
      rel="apple-touch-icon"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Lion exchange - Home" />

    <meta itemprop="name" content="Lion exchange - Home" />
    <meta
      itemprop="description"
      content="Welcome to our sports betting platform. Explore a wide array of thrilling sports events and bet on your favorite teams to win big. Our user-friendly interface ensures a seamless experience, with secure transactions."
    />
    <meta
      itemprop="image"
      content="http://localhost/bet/assets/images/seo/64c5311c5c5011690644764.png"
    />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="BetLab - Sports Betting Platform" />
    <meta
      property="og:description"
      content="Welcome to our sports betting platform. Explore a wide array of thrilling sports events and bet on your favorite teams to win big. Our user-friendly interface ensures a seamless experience, with secure transactions."
    />
    <meta
      property="og:image"
      content="http://localhost/bet/assets/images/seo/64c5311c5c5011690644764.png"
    />
    <meta property="og:image:type" content="png" />
    <meta property="og:image:width" content="1180" />
    <meta property="og:image:height" content="600" />
    <meta
      property="og:url"
      content="http://localhost/bet/league/womens-one-day-internationals"
    />

    <meta name="twitter:card" content="summary_large_image" />

    <link
      href="http://localhost/bet/assets/global/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/global/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/global/css/line-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/templates/basic/css/slick.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/templates/basic/css/magnific-popup.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/templates/basic/css/simplebar.min.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/templates/basic/css/main.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/templates/basic/css/custom.css"
      rel="stylesheet"
    />
    <link
      href="http://localhost/bet/assets/templates/basic/css/color.php?color=5671F5"
      rel="stylesheet"
    />

    <link
      href="http://localhost/bet/assets/templates/basic/css/skeleton.css"
      rel="stylesheet"
    />
    <style></style>
  </head>

  <body>
    <div class="preloader">
      <div class="preloader__img">
        <img
          src="http://localhost/bet/assets/images/logoIcon/favicon.png"
          alt="image"
        />
      </div>
    </div>

    <div class="back-to-top">
      <span class="back-top">
        <i class="las la-angle-double-up"></i>
      </span>
    </div>

    <div class="body-overlay" id="body-overlay"></div>

    <div class="header-overlay"></div>

    <header class="header-primary">
      <div class="container-fluid">
        <div class="header-fluid-custom-parent">
          <div class="logo">
            <a href="http://localhost/bet">
              <img
                class="img-fluid"
                src="http://localhost/bet/assets/images/logoIcon/logo.png"
                alt="logo"
              />
            </a>
          </div>

          <nav class="primary-menu-container">
            <ul
              class="list list--row primary-menu-lg justify-content-end justify-content-lg-start"
            >
              <li>
                <a
                  class="bet-type__live active"
                  href="http://localhost/bet/switch-to/live"
                >
                  Live
                </a>
              </li>
              <li>
                <a
                  class="bet-type__upcoming"
                  href="http://localhost/bet/switch-to/upcoming"
                >
                  Upcoming
                </a>
              </li>
            </ul>

            <ul
              class="list list--row primary-menu justify-content-end align-items-center right-side-nav gap-4"
            >
              <li>
                <a class="primary-menu-lg__link" href="http://localhost/bet">
                  <span class="primary-menu-lg__link-text"> Home </span>
                </a>
              </li>

              <li class="d-none d-lg-block">
                <div class="select-lang--container">
                  <div class="select-lang">
                    <select class="form-select oddsType">
                      <option value="" disabled>Odds Type</option>
                      <option value="decimal">Decimal Odds</option>
                      <option value="fraction">Fraction Odds</option>
                      <option value="american">American Odds</option>
                    </select>
                  </div>
                </div>
              </li>

              <li class="d-none d-lg-block">
                <div class="select-lang--container">
                  <div class="select-lang">
                    <span class="select-lang__icon text-white">
                      <i class="fal fa-globe"></i>
                    </span>
                    <select class="form-select langSel"></select>
                  </div>
                </div>
              </li>

              <li>
                <a
                  class="btn btn--signup"
                  href="http://localhost/bet/user/dashboard"
                >
                  Dashboard
                </a>
              </li>
            </ul>
          </nav>
        </div>

        <div
          class="modal fade login-modal"
          id="loginModal"
          data-bs-backdrop="static"
          data-bs-keyboard="false"
          role="dialog"
          aria-labelledby="modalTitleId"
          aria-hidden="true"
          tabindex="-1"
        >
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body p-3 p-sm-5">
                <span
                  class="close"
                  data-bs-dismiss="modal"
                  type="button"
                  aria-label="Close"
                >
                  <i class="las la-times"></i>
                </span>
                <div
                  class="d-flex justify-content-between align-items-center mb-2"
                >
                  <h4 class="mt-0">Login to your account</h4>
                </div>
                <form
                  class="verify-gcaptcha"
                  action="http://localhost/bet/user/login"
                  method="POST"
                >
                  <input
                    type="hidden"
                    name="_token"
                    value="PuxA66VwBSCfXLcB5maLgM63sxeIN591kw1t41ZW"
                  />
                  <div class="form-group">
                    <label class="form-label">Username or Email</label>
                    <input
                      class="form-control form--control"
                      name="username"
                      type="text"
                      value=""
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label class="form-label">Password</label>
                    <div class="input-group input--group">
                      <input
                        class="form-control form--control"
                        name="password"
                        type="password"
                        required
                      />
                      <span class="input-group-text pass-toggle">
                        <i class="las la-eye"></i>
                      </span>
                    </div>
                  </div>
                  <div
                    class="form-group d-flex justify-content-between align-items-center"
                  >
                    <div class="form-check">
                      <input
                        class="form-check-input custom--check"
                        id="remember"
                        name="remember"
                        type="checkbox"
                      />
                      <label
                        class="form-check-label sm-text t-heading-font heading-clr fw-md"
                        for="remember"
                      >
                        Remember Me
                      </label>
                    </div>
                    <a
                      class="t-link--base sm-text"
                      href="http://localhost/bet/user/password/reset"
                      >Forgot Password?</a
                    >
                  </div>
                  <button class="btn btn--xl btn--base w-100" type="submit">
                    Login
                  </button>
                  <div
                    class="d-flex justify-content-center align-items-center gap-2 mt-2"
                  >
                    <span class="d-inline-block sm-text">
                      Don't have account?
                    </span>
                    <a
                      class="t-link d-inline-block t-link--base base-clr sm-text lh-1 text-center text-end"
                      href="http://localhost/bet/user/register"
                      >Create account</a
                    >
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main class="home-page">
      <nav class="sports-category" data-simplebar>
        <div class="sports-category__list">
          <a
            class="sports-category__link"
            href="http://localhost/bet/category/casino"
          >
            <span class="sports-category__icon">
              <i class="fas fa-golf-ball"></i>
            </span>
            <span class="sports-category__text"> Casino </span>
          </a>
          <a
            class="sports-category__link active"
            href="http://localhost/bet/category/cricket"
          >
            <span class="sports-category__notification"> 9 </span>
            <span class="sports-category__icon">
              <i class="fas fa-baseball"></i>
            </span>
            <span class="sports-category__text"> Cricket </span>
          </a>
        </div>
      </nav>

      <nav class="sports-sub-category" data-simplebar>
        <div class="sports-category__list">
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/pakistan-super-league"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Pakistan Super League"
            >
              Pakistan Super League
            </span>
            <span class="league-game-count">4</span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/women%27s-premier-league"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Women&#039;s Premier League"
            >
              Women&#039;s Premier League
            </span>
            <span class="league-game-count">2</span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/test-matches"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Test Matches">
              Test Matches
            </span>
            <span class="league-game-count">2</span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/bangladesh-premier-league"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Bangladesh Premier League"
            >
              Bangladesh Premier League
            </span>
            <span class="league-game-count">1</span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/new-demo-series"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="New Demo Series">
              New Demo Series
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/sa20"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="SA20"> SA20 </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/icc-world-twenty20"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="ICC World Twenty20">
              ICC World Twenty20
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/twenty20-big-bash"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Twenty20 Big Bash">
              Twenty20 Big Bash
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/australia-ncl-women"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Australia NCL Women">
              Australia NCL Women
            </span>
          </a>
          <a
            class="sub-category-drawer__link active"
            href="http://localhost/bet/league/womens-one-day-internationals"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Womens One Day Internationals"
            >
              Womens One Day Internationals
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/womens-international-twenty20-matches"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Womens International Twenty20 Matches"
            >
              Womens International Twenty20 Matches
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/international-league-t20"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="International League T20"
            >
              International League T20
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/sri-lanka-v-zimbabwe-t20-series"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Sri Lanka v Zimbabwe T20 Series"
            >
              Sri Lanka v Zimbabwe T20 Series
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/icc-u19-world-cup"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="ICC U19 World Cup">
              ICC U19 World Cup
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/asia-cup"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Asia Cup">
              Asia Cup
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/one-day-internationals"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="One Day Internationals"
            >
              One Day Internationals
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/marsh-one-day-cup"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Marsh One-Day Cup">
              Marsh One-Day Cup
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/womens-super-smash-t20"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Womens Super Smash T20"
            >
              Womens Super Smash T20
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/ford-trophy"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Ford Trophy">
              Ford Trophy
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/womens-international-twenty20-matches."
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="Womens International Twenty20 Matches."
            >
              Womens International Twenty20 Matches.
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/test-series-markets"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Test Series Markets">
              Test Series Markets
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/international-twenty20-matches"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span
              class="sub-category-drawer__text"
              title="International Twenty20 Matches"
            >
              International Twenty20 Matches
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/acc-twenty20-cup"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="ACC Twenty20 Cup">
              ACC Twenty20 Cup
            </span>
          </a>
          <a
            class="sub-category-drawer__link"
            href="http://localhost/bet/league/super-smash-t20"
          >
            <span class="sub-category-drawer__flag">
              <img
                class="sub-category-drawer__flag-img"
                src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                alt="image"
              />
            </span>
            <span class="sub-category-drawer__text" title="Super Smash T20">
              Super Smash T20
            </span>
          </a>
        </div>
      </nav>

      <div class="sub-category-drawer">
        <div class="container-fluid p-0">
          <div class="row g-0">
            <div class="col-12">
              <div class="sub-category-drawer__head">
                <span class="sub-category-drawer__head-content"></span>
                <button class="sub-category-drawer__head-close" type="button">
                  <i class="las la-times"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="sub-category-drawer__body" data-simplebar>
                <ul class="list sub-category-drawer__list">
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/pakistan-super-league"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Pakistan Super League"
                      >
                        Pakistan Super League
                      </span>
                    </a>

                    <span class="league-game-count">4</span>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/women%27s-premier-league"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Women&#039;s Premier League"
                      >
                        Women&#039;s Premier League
                      </span>
                    </a>

                    <span class="league-game-count">2</span>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/test-matches"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Test Matches"
                      >
                        Test Matches
                      </span>
                    </a>

                    <span class="league-game-count">2</span>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/bangladesh-premier-league"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Bangladesh Premier League"
                      >
                        Bangladesh Premier League
                      </span>
                    </a>

                    <span class="league-game-count">1</span>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/new-demo-series"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="New Demo Series"
                      >
                        New Demo Series
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/sa20"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span class="sub-category-drawer__text" title="SA20">
                        SA20
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/icc-world-twenty20"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="ICC World Twenty20"
                      >
                        ICC World Twenty20
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/twenty20-big-bash"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Twenty20 Big Bash"
                      >
                        Twenty20 Big Bash
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/australia-ncl-women"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Australia NCL Women"
                      >
                        Australia NCL Women
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link active"
                      href="http://localhost/bet/league/womens-one-day-internationals"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Womens One Day Internationals"
                      >
                        Womens One Day Internationals
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/womens-international-twenty20-matches"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Womens International Twenty20 Matches"
                      >
                        Womens International Twenty20 Matches
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/international-league-t20"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="International League T20"
                      >
                        International League T20
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/sri-lanka-v-zimbabwe-t20-series"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Sri Lanka v Zimbabwe T20 Series"
                      >
                        Sri Lanka v Zimbabwe T20 Series
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/icc-u19-world-cup"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="ICC U19 World Cup"
                      >
                        ICC U19 World Cup
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/asia-cup"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span class="sub-category-drawer__text" title="Asia Cup">
                        Asia Cup
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/one-day-internationals"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="One Day Internationals"
                      >
                        One Day Internationals
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/marsh-one-day-cup"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Marsh One-Day Cup"
                      >
                        Marsh One-Day Cup
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/womens-super-smash-t20"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Womens Super Smash T20"
                      >
                        Womens Super Smash T20
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/ford-trophy"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Ford Trophy"
                      >
                        Ford Trophy
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/womens-international-twenty20-matches."
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Womens International Twenty20 Matches."
                      >
                        Womens International Twenty20 Matches.
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/test-series-markets"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Test Series Markets"
                      >
                        Test Series Markets
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/international-twenty20-matches"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="International Twenty20 Matches"
                      >
                        International Twenty20 Matches
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/acc-twenty20-cup"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="ACC Twenty20 Cup"
                      >
                        ACC Twenty20 Cup
                      </span>
                    </a>
                  </li>
                  <li>
                    <a
                      class="sub-category-drawer__link"
                      href="http://localhost/bet/league/super-smash-t20"
                    >
                      <span class="sub-category-drawer__flag">
                        <img
                          class="sub-category-drawer__flag-img"
                          src="http://localhost/bet/assets/images/league/65da0c984a3fb1708788888.png"
                          alt="image"
                        />
                      </span>
                      <span
                        class="sub-category-drawer__text"
                        title="Super Smash T20"
                      >
                        Super Smash T20
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sports-body">
        <div class="container-fluid">
          <div class="row g-3">
            <div class="col-12">
              <div class="banner-slider hero-slider mb-3">
                <div class="banner_slide">
                  <img
                    class="banner_image"
                    src="http://localhost/bet/assets/images/frontend/banner/64a557065f66a1688557318.jpg"
                  />
                </div>
                <div class="banner_slide">
                  <img
                    class="banner_image"
                    src="http://localhost/bet/assets/images/frontend/banner/64a5572a3e7991688557354.jpg"
                  />
                </div>
                <div class="banner_slide">
                  <img
                    class="banner_image"
                    src="http://localhost/bet/assets/images/frontend/banner/64a55730164b11688557360.jpg"
                  />
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="betting-body">
                <div class="row g-3"></div>
                <div class="empty-message mt-3">
                  <img
                    class="img-fluid"
                    src="http://localhost/bet/assets/templates/basic//images/empty_message.png"
                    alt="image"
                  />
                  <p>No game available in this category</p>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="footer footer--light">
                <div class="row g-4 justify-content-between">
                  <div class="col-sm-12 col-xxl-4">
                    <h5 class="footer__title">ABOUT US</h5>
                    <p class="footer__about">LION EXCHANGE</p>
                    <ul class="list list--row social-list flex-wrap">
                      <li>
                        <a
                          class="social-list__icon"
                          href="https://www.facebook.com/"
                          target="_blank"
                        >
                          <i class="fab fa-facebook-f"></i>
                        </a>
                      </li>
                      <li>
                        <a
                          class="social-list__icon"
                          href="https://www.twitter.com/"
                          target="_blank"
                        >
                          <i class="fab fa-twitter"></i>
                        </a>
                      </li>
                      <li>
                        <a
                          class="social-list__icon"
                          href="https://www.linkedin.com/"
                          target="_blank"
                        >
                          <i class="fab fa-linkedin-in"></i>
                        </a>
                      </li>
                      <li>
                        <a
                          class="social-list__icon"
                          href="https://www.instagram.com/"
                          target="_blank"
                        >
                          <i class="fab fa-instagram"></i>
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-sm-4 col-xxl-3">
                    <h5 class="footer__title">Usefull Link</h5>
                    <ul class="list footer__list">
                      <li>
                        <a class="footer__link" href="http://localhost/bet">
                          Home
                        </a>
                      </li>
                      <li>
                        <a
                          class="footer__link"
                          href="http://localhost/bet/news"
                        >
                          News & Updates
                        </a>
                      </li>
                      <li>
                        <a
                          class="footer__link"
                          href="http://localhost/bet/contact"
                        >
                          Contact
                        </a>
                      </li>
                    </ul>
                  </div>

                  <div class="col-sm-4 col-xxl-2">
                    <h5 class="footer__title">Company Policy</h5>
                    <ul class="list footer__list"></ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="footer-bottom">
                <div class="container-fluid">
                  <div class="row align-items-center justify-content-between">
                    <div class="col-sm-6">
                      <p class="xsm-text text-sm-start m-0 text-center">
                        Copyright &copy; 2024
                        <a class="t-link--base" href="http://localhost/bet"
                          >Lion exchange</a
                        >
                        All right reserved
                      </p>
                    </div>
                    <div class="col-sm-6">
                      <ul
                        class="gap-1 list list--row justify-content-center justify-content-sm-end mt-sm-0 align-items-center mt-2 flex-wrap"
                      ></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="betslip">
        <div class="betslip__head">
          <h6 class="m-0 text-white">
            <i class="fa-thin fa-clipboard-list-check"></i> Bet Slip
          </h6>
        </div>

        <div class="list-group bet-type">
          <button
            class="bet-type__btn active bet-tab-single betTypeBtn"
            data-type="1"
            type="button"
          >
            Single Bet
          </button>
          <button
            class="bet-type__btn bet-tab-multi betTypeBtn"
            data-type="2"
            type="button"
          >
            Multi Bet
          </button>
        </div>

        <div class="betslip__body" data-simplebar="init">
          <div class="simplebar-wrapper">
            <div class="simplebar-height-auto-observer-wrapper">
              <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
              <div class="simplebar-offset">
                <div
                  class="simplebar-content-wrapper"
                  role="region"
                  aria-label="scrollable content"
                  tabindex="0"
                >
                  <div class="simplebar-content">
                    <ul class="list betslip__list"></ul>
                    <span class="empty-slip-message">
                      <span
                        class="d-flex justify-content-center align-items-center"
                      >
                        <img
                          src="http://localhost/bet/assets/templates/basic/images/empty_list.png"
                          alt="image"
                        />
                      </span>
                      Your selections will be displayed here
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="simplebar-placeholder"></div>
          </div>

          <div class="simplebar-track simplebar-horizontal">
            <div class="simplebar-scrollbar"></div>
          </div>
          <div class="simplebar-track simplebar-vertical">
            <div class="simplebar-scrollbar"></div>
          </div>
        </div>

        <div class="betslip__footer" id="betSlipBody">
          <ul class="list betslip__footer-list">
            <li>
              <div class="betslip__list-content">
                <div class="betslip__list-match">
                  Singles (x<span class="bet-slip-count">0</span>)
                </div>
                <div class="betslip__list-bet">
                  <span class="betslip__list-odd">Stake Per Bet</span>
                </div>
              </div>
              <div class="betslip-righ">
                <div class="betslip__list-ratio">
                  <input
                    class="amount"
                    name="total_invest"
                    type="number"
                    step="any"
                    placeholder="0.0"
                  />
                  <span>STAKE</span>
                </div>
                <div class="bet-return">
                  <small class="text--danger total-stake-amount"></small>
                  <small class="text--danger total-validation-msg"></small>
                  <span
                    >Returns: <span class="total-return-amount"
                      >0.00</span
                    ></span
                  >
                </div>
              </div>
            </li>
          </ul>
          <div class="betslip__footer-bottom d-flex align-items-center">
            <input
              class="form-control form--control betslip-form"
              type="number"
              placeholder="Enter Amount"
            />
            <button class="delete-btn deleteAll">
              <i class="las la-trash-alt"></i>
            </button>
            <div class="place-btn">
              <button
                class="btn btn--base btn--md sm-text betslip__footer-btn bet-place-btn betPlaceBtn"
                type="button"
              >
                PLACE BET
              </button>
            </div>
          </div>
        </div>
      </div>

      <div
        class="modal fade custom--modal"
        id="betModal"
        aria-hidden="true"
        tabindex="-1"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmation Alert</h5>
              <button
                class="close"
                data-bs-dismiss="modal"
                type="button"
                aria-label="Close"
              >
                <i class="las la-times"></i>
              </button>
            </div>
            <form
              id="betForm"
              action="http://localhost/bet/user/bet/place-bet"
              method="POST"
            >
              <input
                type="hidden"
                name="_token"
                value="PuxA66VwBSCfXLcB5maLgM63sxeIN591kw1t41ZW"
              />
              <div class="modal-body">
                <input name="stake_amount" type="hidden" />
                <input name="type" type="hidden" />
                <p>Are you sure to place bet?</p>
              </div>
              <div class="modal-footer">
                <button
                  class="btn btn--dark"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  No
                </button>
                <button class="btn btn--base" type="submit">Yes</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="app-nav">
        <div class="container-fluid">
          <div class="row g-0">
            <div class="col-12">
              <ul
                class="app-nav__menu list list--row justify-content-between align-items-center"
              >
                <li>
                  <a
                    class="app-nav__menu-link active"
                    href="http://localhost/bet"
                  >
                    <span class="app-nav__menu-icon">
                      <img
                        src="http://localhost/bet/assets/templates/basic/images/bet-now.png"
                        alt="image"
                      />
                    </span>
                    <span class="app-nav__menu-text"> Bet Now </span>
                  </a>
                </li>
                <li>
                  <a
                    class="app-nav__menu-link"
                    href="http://localhost/bet/user/my-bets"
                  >
                    <span class="app-nav__menu-icon">
                      <img
                        src="http://localhost/bet/assets/templates/basic/images/my_bets.png"
                        alt="image"
                      />
                    </span>
                    <span class="app-nav__menu-text"> My Bets </span>
                  </a>
                </li>
                <li class="app-nav__menu-link-important-container">
                  <a
                    class="app-nav__menu-link-important"
                    href="javascript:void(0)"
                  >
                    <i class="fas fa-bars"></i>
                  </a>
                </li>
                <li>
                  <a
                    class="app-nav__menu-link open-betslip header-button"
                    href="javascript:void(0)"
                  >
                    <span class="bet-count">0</span>
                    <span class="app-nav__menu-icon">
                      <i class="fa-thin fa-clipboard-list-check"></i>
                    </span>
                    <span class="app-nav__menu-text">Bet Slip</span>
                  </a>
                </li>
                <li>
                  <a
                    class="app-nav__menu-link"
                    href="http://localhost/bet/user/dashboard"
                  >
                    <span class="app-nav__menu-icon">
                      <img
                        src="http://localhost/bet/assets/templates/basic/images/user.png"
                        alt="image"
                      />
                    </span>
                    <span class="app-nav__menu-text"> Dashboard </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="app-nav__drawer" data-simplebar>
          <ul class="list app-nav__drawer-list">
            <li>
              <a class="app-nav__drawer-link" href="http://localhost/bet">
                <span class="app-nav__drawer-icon">
                  <i class="las la-home"></i>
                </span>
                <span class="app-nav__drawer-text"> Home </span>
              </a>
            </li>
            <li>
              <a class="app-nav__drawer-link" href="http://localhost/bet/news">
                <span class="app-nav__drawer-icon">
                  <i class="las la-newspaper"></i>
                </span>
                <span class="app-nav__drawer-text"> News & Updates </span>
              </a>
            </li>
            <li>
              <a
                class="app-nav__drawer-link"
                href="http://localhost/bet/contact"
              >
                <span class="app-nav__drawer-icon">
                  <i class="las la-headset"></i>
                </span>
                <span class="app-nav__drawer-text"> Contact </span>
              </a>
            </li>
            <li>
              <div class="select-lang--container">
                <div class="select-lang">
                  <span class="select-lang__icon">
                    <i class="las la-percent"></i>
                  </span>
                  <select class="form-select oddsType">
                    <option value="" disabled>Select Odds Type</option>
                    <option value="decimal">Decimal</option>
                    <option value="fraction">Fraction</option>
                    <option value="american">American Odds</option>
                  </select>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>

    <script src="http://localhost/bet/assets/global/js/jquery-3.6.0.min.js"></script>
    <script src="http://localhost/bet/assets/global/js/bootstrap.bundle.min.js"></script>
    <script src="http://localhost/bet/assets/templates/basic/js/slick.js"></script>
    <script src="http://localhost/bet/assets/templates/basic/js/jquery.magnific-popup.js"></script>
    <script src="http://localhost/bet/assets/templates/basic/js/simplebar.min.js"></script>
    <script src="http://localhost/bet/assets/templates/basic/js/jquery.stepcycle.js"></script>
    <script src="http://localhost/bet/assets/templates/basic/js/app.js"></script>

    <script>
      (function ($) {
        "use strict";

        $(".banner-slider").stepCycle({
          autoAdvance: true,
          transitionTime: 1,
          displayTime: 5,
          transition: "zoomIn",
          easing: "linear",
          childSelector: false,
          ie8CheckSelector: ".ltie9",
          showNav: false,
          transitionBegin: function () {},
          transitionComplete: function () {},
        });

        function controlSliderHeight() {
          let width = $(".banner-slider")[0].clientWidth;
          let height = (width / 37) * 7;
          $(".banner-slider").css({
            height: height,
          });

          $(".banner_image").css({
            height: height,
          });
        }

        controlSliderHeight();

        $(".custom-dropdown-selected").click(function () {
          $(this).parents(".custom-dropdown").toggleClass("show");
        });

        $(window).scroll(function () {
          $(".custom-dropdown.show").toggleClass("show");
        });

        $(".custom-dropdown").mouseleave(function () {
          $(this).removeClass("show");
        });

        $(".custom-dropdown-list-item").on("click", function () {
          let parent = $(this).parents(".custom-dropdown");
          let selected = parent.find(".custom-dropdown-selected");
          parent
            .find(".custom-dropdown-list-item.disabled")
            .removeClass("disabled");
          $(this).addClass("disabled");
          $(selected).text($(this).text());
          parent.removeClass("show");

          getOdds($(this).data("reference"), function (data) {
            parent.siblings(".option-odd-list").slick("unslick");
            parent.siblings(".option-odd-list").html(data);
            initOddsSlider(parent.siblings(".option-odd-list"));
          });
        });

        function getOdds(id, callback) {
          $.get(`http://localhost/bet/odds-by-market/${id}`, function (data) {
            callback(data);
          });
        }
      })(jQuery);
    </script>
    <script>
      (function ($) {
        "use strict";
        let betType;
        let stakeAmount;
        let totalStakeAmount;
        let auth = Number("1");
        let multiBet = Number("2");
        let singleBet = Number("1");

        initBetType();
        totalStakeInput();
        betReturnAmount();
        showEmptyMessage();

        function showEmptyMessage() {
          if (Number($(".betslip__list li").length)) {
            $(".empty-slip-message").hide();
          } else {
            $(".empty-slip-message").show();
          }
        }

        function initBetType() {
          betType = sessionStorage.getItem("type");
          if (!betType) {
            betType = singleBet;
            sessionStorage.setItem("type", betType);
          }
          $(".bet-type").find(".betTypeBtn").removeClass("active");
          $(".bet-type")
            .find(`.betTypeBtn[data-type="${betType}"]`)
            .addClass("active");
          controlStakeInputFields();
        }

        function controlStakeInputFields() {
          if (betType == multiBet) {
            $(".betslip__list li .betslip-right").hide();
            $(".betslip__list-odd").hide();
          } else {
            $(".betslip__list li .betslip-right").show();
            $(".betslip__list-odd").show();
          }
        }

        function betSlipCount() {
          let totalBetSlipData = $(".betslip__list li").length;

          if (!totalBetSlipData) {
            sessionStorage.removeItem("total_stake_amount");
            totalStakeInput();
            showEmptyMessage();
            return 0;
          }
          return totalBetSlipData;
        }

        function setStakeAmount(amount = 0) {
          $(".investAmount").each(function (index) {
            $(this).val(amount);
            let odd = Number($(this).closest("li").data("option_odds"));
            $(this)
              .closest(".betslip-right")
              .find(".bet-return-amount")
              .text(Math.abs(amount * odd).toFixed(2));
          });
        }

        function totalStakeInput(totalStakeAmount = 0) {
          totalStakeAmount = sessionStorage.getItem("total_stake_amount");
          $("[name=total_invest]").val(totalStakeAmount);
        }

        function totalMultiBetReturnAmount() {
          let totalMultiBetReturnAmount = $("[name=total_invest]").val();
          let multiBetOdd = 1;
          $(".betslip__list li").each(function (index) {
            var odd = $(this).data("option_odds");
            multiBetOdd *= odd;
          });
          $(".total-return-amount").text(
            Math.abs(totalMultiBetReturnAmount * multiBetOdd).toFixed(2)
          );
        }

        function totalSingleBetReturnAmount() {
          let totalSingleBetReturnAmount = 0;
          $(".investAmount").each(function (index) {
            var odd = Number($(this).closest("li").data("option_odds"));
            totalSingleBetReturnAmount += Number($(this).val()) * odd;
          });
          $(".total-return-amount").text(
            Math.abs(totalSingleBetReturnAmount).toFixed(2)
          );
        }

        function betReturnAmount() {
          betType == multiBet
            ? totalMultiBetReturnAmount()
            : totalSingleBetReturnAmount();
        }

        function showTotalBetSlipCount(count = 0) {
          $(".bet-slip-count").text(count);
          $(".bet-count").text(count);
        }

        function skeleton(type) {
          let loader = `<li class="loading">
                                    <button class="betslip__list-close"></button>
                                    <div class="betslip__list-content">
                                        <span class="betslip__list-match"></span>
                                        <span class="betslip__list-team"></span>
                                        <span class="betslip__list-question"></span>
                                        <div class="betslip__list-text"></div>
                                    </div>
                                    <div class="betslip-right">
                                        <div class="betslip__list-ratio">
                                            <span></span>
                                        </div>
                                        <span class="betslip-return"></span>
                                    </div>
                                </li>`;
          $(".betslip__list").append(loader);

          if (type == "show") {
            $(document).find(".loading").show();
          } else {
            $(document).find(".loading").remove();
          }
        }

        function removeSessionTotalStakeAmount() {
          if (sessionStorage.getItem("total_stake_amount")) {
            sessionStorage.removeItem("total_stake_amount");
          }
        }

        $(document).on("click", ".oddBtn", function () {
          let button = $(this);
          if ($(this).hasClass("active")) {
            removeBet(button);
            return;
          }

          $(".empty-slip-message").hide();

          skeleton("show");

          let data = {
            _token: "PuxA66VwBSCfXLcB5maLgM63sxeIN591kw1t41ZW",
            id: $(this).data("option_id"),
            type: betType,
          };

          if (betType == singleBet) {
            data.amount = sessionStorage.getItem("total_stake_amount");
          }

          $.get(
            `http://localhost/bet/bet/add-to-bet-slip`,
            data,
            function (response) {
              if (response.error) {
                skeleton("hide");
                $(".empty-slip-message").show();
                notify("error", response.error);
              } else {
                button.addClass("active");
                setTimeout(() => {
                  skeleton("hide");
                  $(".betslip__list").append(response);
                  controlStakeInputFields();
                  showTotalBetSlipCount(betSlipCount());
                  betReturnAmount();
                }, 500);
              }
            }
          );
        });

        $(document).on("input focusout", ".investAmount", function (event) {
          $(".total-validation-msg").text("");
          $(".total-stake-amount").text("");
          $(".betslip__list li").find(".validation-msg").text("");

          stakeAmount = Number($(this).val());
          if (!stakeAmount) {
            return;
          }

          let odd = Number($(this).closest("li").data("option_odds"));
          $(this)
            .closest(".betslip-right")
            .find(".bet-return-amount")
            .text(Math.abs(stakeAmount * odd).toFixed(2));

          if (event.type == "focusout") {
            let data = {
              _token: "PuxA66VwBSCfXLcB5maLgM63sxeIN591kw1t41ZW",
              id: $(this).closest("li").data("option_id"),
              amount: stakeAmount,
            };
            $.ajax({
              type: "POST",
              url: `http://localhost/bet/bet/update`,
              data: data,
              success: function (response) {
                if (betType == singleBet) {
                  var isInvestAmountSame = false;
                  var firstInvestAmountValue = $(".investAmount").first().val();
                  if (betSlipCount() > 1) {
                    $(".investAmount").each(function (index) {
                      var currentInvestAmountValue = $(this).val();
                      if (
                        currentInvestAmountValue &&
                        currentInvestAmountValue == firstInvestAmountValue
                      ) {
                        isInvestAmountSame = true;
                      } else {
                        isInvestAmountSame = false;
                      }
                    });
                  }
                  if (isInvestAmountSame) {
                    $("[name=total_invest]").val(firstInvestAmountValue);
                    sessionStorage.setItem(
                      "total_stake_amount",
                      firstInvestAmountValue
                    );
                  } else {
                    removeSessionTotalStakeAmount();
                    totalStakeInput();
                  }
                } else {
                  removeSessionTotalStakeAmount();
                  totalStakeInput();
                }
                betReturnAmount();
              },
            });
          }
        });

        $(document).on("click", ".removeFromSlip", function () {
          removeBet($(this));
        });

        function removeBet(button) {
          $(".total-validation-msg").text("");
          $(".total-stake-amount").text("");
          $(".betslip__list li").find(".validation-msg").text("");
          let id = button.data("option_id");
          let data = {
            _token: "PuxA66VwBSCfXLcB5maLgM63sxeIN591kw1t41ZW",
          };
          $.post(
            `http://localhost/bet/bet/remove/${id}`,
            data,
            function (response) {
              if (response.status == "success") {
                $(document)
                  .find(`.oddBtn[data-option_id="${id}"]`)
                  .removeClass("active");
                $(document)
                  .find(`.removeFromSlip[data-option_id="${id}"]`)
                  .parent()
                  .remove();
                showTotalBetSlipCount(betSlipCount());
                betReturnAmount();
              }
            }
          );
        }

        $(".betTypeBtn").on("click", function () {
          betType = Number($(this).data("type"));
          if ($(this).hasClass("active")) {
            return;
          }

          $(".total-validation-msg").text("");
          $(".total-stake-amount").text("");
          $(".betslip__list li").find(".validation-msg").text("");

          sessionStorage.setItem("type", betType);

          $(`.betTypeBtn`).removeClass("active");
          $(this).addClass("active");
          stakeAmount = sessionStorage.getItem("total_stake_amount");

          if (stakeAmount && betType == singleBet) {
            setStakeAmount(stakeAmount);
            let totalSingleStakeAmount = 0;
            $(".investAmount").each(function (index) {
              if (!$(this).val()) {
                $(this)
                  .closest(".betslip-right")
                  .find(".validation-msg")
                  .text(`Stake is required`);
              } else {
                totalSingleStakeAmount += Number($(this).val());
              }
            });
            if (totalSingleStakeAmount) {
              stakeLimitValidation(totalSingleStakeAmount);
            }
          } else {
            totalStakeInput(stakeAmount);
            if (stakeAmount) {
              stakeLimitValidation(stakeAmount);
            }
          }
          controlStakeInputFields();
          betReturnAmount();
        });

        $(".deleteAll").on("click", function () {
          let data = {
            _token: "PuxA66VwBSCfXLcB5maLgM63sxeIN591kw1t41ZW",
          };
          $.post(
            `http://localhost/bet/bet/remove-all`,
            data,
            function (response) {
              if (response.status == "success") {
                $(".betslip__list li").remove();
                $(".oddBtn").removeClass("active");
                showTotalBetSlipCount(betSlipCount());
                betReturnAmount();
              }
            }
          );
        });

        $("[name=total_invest]").on("input focusout", function (event) {
          $(".total-validation-msg").text("");
          $(".total-stake-amount").text("");
          $(".betslip__list li").find(".validation-msg").text("");

          totalStakeAmount = Number($(this).val());
          if (!totalStakeAmount) {
            let hasValue = false;
            $(".investAmount").each(function (index) {
              if ($(this).val()) {
                hasValue = true;
              }
            });
            if (hasValue) {
              removeSessionTotalStakeAmount();
            }
            return;
          } else {
            sessionStorage.setItem("total_stake_amount", totalStakeAmount);
            setStakeAmount(Number($(this).val()));
            betReturnAmount();
          }

          if (event.type == "focusout") {
            let data = {
              _token: "PuxA66VwBSCfXLcB5maLgM63sxeIN591kw1t41ZW",
              amount: totalStakeAmount,
            };
            $.ajax({
              type: "POST",
              url: `http://localhost/bet/bet/update-all`,
              data: data,
              success: function (response) {
                $(".total-validation-msg").text("");
              },
            });
          }
        });

        $(".betPlaceBtn").on("click", function (e) {
          let error = false;
          let message = "";
          let totalBetCount = betSlipCount();
          let finalStakeAmount = 0;

          if (betType == multiBet && totalBetCount < 2) {
            notify("error", "Minimum of two bets are required for multi bet");
            return;
          }

          if (betType == multiBet) {
            finalStakeAmount = Number($("[name=total_invest]").val());
            if (!finalStakeAmount) {
              $(".total-validation-msg").text(`Stake amount is required`);
              return;
            }
          } else {
            if (!totalBetCount) {
              notify("error", "Your bet slip is empty");
              return;
            }
            finalStakeAmount = 0;

            $(".investAmount").each(function (index) {
              if (!$(this).val()) {
                $(this)
                  .closest(".betslip-right")
                  .find(".validation-msg")
                  .text(`Stake is required`);
                error = true;
              } else {
                finalStakeAmount += Number($(this).val());
              }
            });

            if (error) {
              return;
            }
          }

          let stakeLimit = stakeLimitValidation(finalStakeAmount);
          if (stakeLimit) {
            return;
          }

          stakeAmount = finalStakeAmount;
          if (auth) {
            var modal = $("#betModal");
            modal.find("[name=stake_amount]").val(finalStakeAmount);
            modal.find("[name=type]").val(betType);
          } else {
            var modal = $("#loginModal");
            var html = `<input type="hidden" name="location" value=${window.location.href}/>`;
            modal.find(".input--group").prepend(html);
          }
          modal.modal("show");
        });

        function stakeLimitValidation(finalAmount) {
          let minLimit = betType == singleBet ? Number("200") : Number("500");
          let maxLimit = betType == singleBet ? Number("1000") : Number("1500");
          if (finalAmount < minLimit) {
            $(".total-stake-amount").text(`Total stake ${finalAmount}`);
            $(".total-validation-msg").text(`Min stake limit ${minLimit}`);
            return true;
          }

          if (finalAmount > maxLimit) {
            $(".total-stake-amount").text(`Total stake ${finalAmount}`);
            $(".total-validation-msg").text(`Max stake limit ${maxLimit}`);
            return true;
          }
          return false;
        }

        $("#betForm").on("submit", function (e) {
          sessionStorage.removeItem("total_stake_amount");
          return true;
        });
      })(jQuery);
    </script>
    <link
      rel="stylesheet"
      href="http://localhost/bet/assets/global/css/iziToast.min.css"
    />
    <script src="http://localhost/bet/assets/global/js/iziToast.min.js"></script>

    <!-- <script>
    "use strict";

    function notify(status, message) {
        if (typeof message == 'string') {
            iziToast[status]({
                message: message,
                position: "topRight"
            });
        } else {
            $.each(message, function(i, val) {
                iziToast[status]({
                    message: val,
                    position: "topRight"
                });
            });
        }
    }
</script> -->

    <!-- <script>
        (function($) {
            "use strict";
            $(".langSel").on("change", function() {
                window.location.href = "http://localhost/bet/change/" + $(this).val();
            });
            $(".oddsType").on("change", function() {
                window.location.href = `http://localhost/bet/odds-type/${$(this).val()}`;
            });

            $('.policy').on('click', function() {
                $.get('http://localhost/bet/cookie/accept', function(response) {
                    $('.cookies-card').addClass('d-none');
                });
            });

            setTimeout(function() {
                $('.cookies-card').removeClass('hide')
            }, 2000);


            $.each($('input, select, textarea'), function(i, element) {
                var elementType = $(element);
                if (elementType.attr('type') != 'checkbox') {
                    if (element.hasAttribute('required')) {
                        $(element).closest('.form-group').find('label').addClass('required');
                    }
                }
            });

            Array.from(document.querySelectorAll('table')).forEach(table => {
                let heading = table.querySelectorAll('thead tr th');
                Array.from(table.querySelectorAll('tbody tr')).forEach(row => {
                    Array.from(row.querySelectorAll('td')).forEach((column, i) => {
                        (column.colSpan == 100) || column.setAttribute('data-label', heading[i].innerText)
                    });
                });
            });
        })(jQuery);
    </script> -->
  </body>
</html>
